
body {
	background-color: #f8fafc;
	color: #0f172a;
	font-family: 'Inter', sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 3px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: #f8fafc;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #e2e8f0;
	border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #cbd5e1;
}
